<div class="container">
  <div class="about-wrapper">

  </div>

  <div class="candidate-wrapper">

  </div>

  <div class="edit-wrapper">
    <div class="sentence">

    </div>
    <div class="edit-sample">

    </div>
    <<div class="edit-input">

    </div>
  </div>

</div>
