<div class="container">
  <div class="about-wrapper">

  </div>

  <div class="candidate-wrapper">
    <<div class="image">

    </div>
    <div class="link">

    </div>
    <div class="word-cloud">

    </div>
  </div>

</div>
