<<div class="container">
  <div class="signin">
    <p>住所(東京23区)</p>
    <select class="" name="">
      <option value="">文京区</option>
    </select>
    <p>ニックネーム</p>
    <input type="text" name="" value="">
    <p>パスワード</p>
    <input type="text" name="" value="">
  </div>
  <div class="login">

  </div>
</div>
